<style>
     div{
        border: 1px solid black;
        text-align: center;
        margin: 10px;
        padding: 10px;
        width: 250px;
        box-sizing: border-box;
        display: inline-flex;
    }
    div.noTags {
        background-color: lightblue;
    }
    div.action {
        background-color: lightcoral;
    }
    div.rpg {
        background-color: lightgreen;
    }
    div.shooting {
        background-color: lightgray;
    }
</style>
<div>
    <input type="text" [value]="title | lowercase" [(ngModel)]="title">
    <button (click)="searchTitle(title)">Search</button>
</div>
<br>
<span id="results">

</span>
<br>
<div appHoverAffect [effect] ="'background'" class="noTags" *ngFor="let item of content | contentFilter;">
    <app-content-card [item]="item"></app-content-card>
</div>
<br>
<div appHoverAffect [effect] ="'background'" class="action" *ngFor="let item of content | contentFilter : 'Action';">
    <app-content-card [item]="item"></app-content-card>
</div>
<br>
<div appHoverAffect [effect] ="'background'" class="rpg" *ngFor="let item of content | contentFilter : 'RPG';">
    <app-content-card [item]="item"></app-content-card>
</div>
<br>
<div appHoverAffect [effect] ="'background'" class="shooting" *ngFor="let item of content | contentFilter : 'Shooting';">
    <app-content-card [item]="item"></app-content-card>
</div>